In [31]:
import pandas as pd

df = pd.read_pickle("training_data.pkl")
about_df = pd.read_pickle("about_you.pkl")

df.shape        # -> (1, N)
about_df.shape  # -> (1, M)

about_df

,timestamp,year,major,work_in_group,work_location,preferred_time_1,preferred_time_2,preferred_time_3
0,2025-12-02T17:33:30.950180,2029,other,yes,home,evening,morning,afternoon

In [32]:
import json
courses = json.loads(df.loc[0, "courses_json"])
courses_df = pd.json_normalize(courses)
courses_df

   number     type  classMajor className assignmentName sessions resources
0       1  writing  humanities   History      Writing 1      3-5    google